body{
	font-family: 'Open Sans', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #777;
	background: #f3f3f3;
	font-size: 13px;
	line-height: 1.3;
	min-width: 320px;
}
.container{
	min-width: 320px;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}




.header{
	background: #76c7c5;
	height: 83px;
	position: relative;
}
.header .logo{
	text-decoration: none;
	font-size: 30px;
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	margin: 21px 0px 0px 8px;
}
.header .logo .another{
	font-size: 25px;
	font-weight: 400;
	text-transform: none;
	margin: 0px 0px 0px 3px;
}
.menu-btn{
	display: none;
}
.menu{
	float: right;
	margin: 35px 0 0 0;
	padding: 0 46px 0 0;
	position: relative;
}
.menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.menu ul li{
	display: inline-block;
	margin: 0 4px;	
}
.menu ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 6px 20px;
}
.menu ul li a:hover{
	background: #e8645a;
	border-radius: 5px;
	border-bottom: 3px solid #e2534b;
}
.menu ul li a:active{
	background: #e8645a;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 3px 15px 0px rgba(226, 83, 75, 1);
	-moz-box-shadow:    inset 0px 3px 15px 0px rgba(226, 83, 75, 1);
	box-shadow:         inset 0px 3px 15px 0px rgba(226, 83, 75, 1);
	padding: 7px 20px;
}
.extra-menu{
	
}
.s-menu::before{
	z-index: 100000;
	content: "";
	position: absolute;
	top: -6px;
	left: 12px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 6px 6px 6px;
	border-color: transparent transparent #e2534b transparent;
}
.s-menu{
	position: absolute;
	top: 38px;
	left: 295px;
	width: 200px;
	height: 110px;
	background: #e2534b;
	padding: 0;
	z-index: 10000;
	border-radius: 5px;
}
.s-menu li{
	margin: 10px 5px !important;
}
.s-menu li a {
	text-transform: none !important;
	padding: 5px 16px !important;
	background: #e5655d;
	border-radius: 5px;
}
.s-menu li a:hover{
	border: none !important;
}
.header .ruler{
	background: url(../img/ruler.png) 1px 0px repeat-x;
	display: inline-block;
	width: 100%;
	height: 9px;
	position: absolute;
	bottom: 0;
}


.slider-1{
	position: relative;
}
.slider-content{
	text-align: center;
	position: absolute;
	top: 32%;
	left: 33%;
}
/*.slide img{
	width: 100%;
	height: auto;
	}*/
	.slider-content h2{
		font-size: 50px;
		font-weight: 800;
		color: #fff;
		background: #e2534b;
		border-radius: 5px;
		display: inline-block;
		text-transform: uppercase;
		margin: 0;
		padding: 0px 9px 0px 9px;
		line-height: 50px;
	}
	.slider-content p{
		width: 470px;
		background: rgba(0,0,0,.6);
		border-radius: 5px;
		font-size: 16px;
		color: #fff;
		margin: 13px 0 0 -2px;
		padding: 7px 38px 11px;
		line-height: 26px;
	}
	.slick-arrow{
		height: 60px;
		width: 50px;
		background: #e8645a;
		border: none;
		border-bottom: 3px solid #e2534b;
		position: absolute;
		top: 38.3%;
		cursor: pointer;
	}
	.slick-prev{
		font-size: 0px;
		left: 0;
		display: block !important;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	} 
	.slick-prev::before{
		content: "\62";
		display: block;
		z-index: 10000;
		font-size: 20px;
		color: #fff;
	}
	.slick-next{
		font-size: 0;
		right: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.slick-next::before{
		content: "\61";
		display: block;
		z-index: 10000;
		font-size: 20px;
		color: #fff;
	}
	.slick-dots{
		padding: 0;
		text-align: center;
		margin: 10px 0px 0px 0px;
	}
	.slick-dots li{
		display: inline-block;
	}
	.slick-dots li button{
		font-size: 0;
		width: 60px;
		height: 5px;
		border: none;
		margin: 0 5px;
		background: #b0b8b9;
		cursor: pointer;
	}
	.slick-dots .slick-active button{
		background: #e2534b;
	}
	.info-block{
		background: #ececec;
		border-radius: 5px;
		padding: 0 25px 0 27px;
		vertical-align: top;
		margin: 24px 0 0 0;
	}
	.info-block h2{
		color: #7f8c8c;
		font-size: 30px;
		font-weight: 600;
		display: inline-block;
		margin: 18px 0px 0px 0px;
		word-spacing: -2px;

	}
	.info-block p{
		display: inline-block;
		margin: 3px 0px 24px 0px;
		word-spacing: -1px;
	}
	.info-block a{
		float: right;
		text-decoration: none;
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		padding: 13px 42px;
		background: #e8645a;
		border-bottom: 3px solid #e2534b;
		border-radius: 5px;
		text-transform: uppercase;
		margin: 24px 10px 0px 0px;
	}
	.info-block a:active{
		background: #e8645a;
		border-radius: 5px;
		-webkit-box-shadow: inset 0px 3px 15px 0px rgba(226, 83, 75, 1);
		-moz-box-shadow:    inset 0px 3px 15px 0px rgba(226, 83, 75, 1);
		box-shadow:         inset 0px 3px 15px 0px rgba(226, 83, 75, 1);
		padding: 14px 42px;
	}



	.flex-box{
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 35px 0 62px 0;
	}
	.flex-b{
		padding: 48px 0 0 0;
		width: 270px;
		height: 310px;
		background: #f8f8f8;
		border-bottom: 4px solid #e5e6e6;
		border-radius: 5px;
		display: inline-block;
		text-align: center;
		margin: 15px 30px 15px 0;
		position: relative;
	}
	.flex-b:last-child{
		margin-right: 0;
	}
	.flex-b .caption{
		font-size: 16px;
		font-weight: 600;
		color: #7f8c8c;
		text-transform: uppercase;
		text-decoration: none;
	}
	.flex-b .link{
		font-size: 14px;
		color: #fff;
		background: #76c7c0;
		border-bottom: 4px solid #62b9b0;
		border-radius: 5px;
		text-decoration: none;
		position: absolute;
		bottom: -32px;
		display: block;
		left: 21%;
		padding: 16px 48px 17px;
	}
	.icon-thumbs-o-up{
		display: block;
		color: #62bdbd;
		font-size: 60px;
	}
	.icon-key{
		display: block;
		color: #62bdbd;
		font-size: 60px;
	}
	.icon-flag{
		display: block;
		color: #62bdbd;
		font-size: 60px;
	}
	.icon-flask{
		display: block;
		color: #62bdbd;
		font-size: 60px;
	}
	.flex-b:hover .icon-thumbs-o-up{
		color: #e2534b;
	}
	.flex-b:hover .icon-key{
		color: #e2534b;
	}
	.flex-b:hover .icon-flag{
		color: #e2534b;
	}
	.flex-b:hover .icon-flask{
		color: #e2534b;
	}
	.flex-b:hover .link{
		background: #e8645a;
		border-color: #e2534b;
	}
	.content-block{
		background: #ececec;
		position: relative;
		padding: 0 0 60px 0;
	}
	.content-block .ruler{
		position: absolute;
		background: url(../img/ruler__bottom--white.png) 0px 0px repeat-x;
		top: 0;
		width: 100%;
		height: 9px;
	}
	.caption-box{
		text-align: center;
		padding: 70px 0 0 0;
	}
	.caption-box h3{
		font-size: 40px;
		font-weight: 600;
		color: #e1524b;
		text-transform: uppercase;
		margin: -8px 0px 0px 4px;
		word-spacing: -3px;
	}
	.caption-box p{
		margin: 0px 0px 0px 4px;
		word-spacing: -1px;
	}
	.info-boxes{
		vertical-align: top;
		width: 25%;
		display: inline-block;
		margin: 38px 8px 15px 0;
	}
	.info-boxes:last-child{
		margin-right: 0;
	}
	.info-boxes h4{
		color: #7f8c8c;
		font-size: 16px;
		font-weight: 800;
	}
	.services-block ul{
		list-style: none;
		padding: 0;
		margin: 33px 0 0 0;
	}
	.services-block li{
		margin: 10px 0 0 0;
	}
	.services-block li:before{
		content: "\68";
		display: inline-block;
		margin: 0 11px 0 0;
	}
	.data-block{
		width: 48%;
	}
	.data-block p{
		margin: 30px 0 0 0;
		line-height: 25px;
	}
	.data-block a{
		color: #e1524b;
	}
	.reviews-block{
		padding: 0 0 0 23px;
	}
	.reviews-block p{
		background: #f8f8f8;
		border-radius: 5px;
		padding: 11px 2px 14px 18px;
		line-height: 24px;
		font-style: italic;
		position: relative;
		margin: 0 0 0 0;
	}
	.reviews-block p:after{
		content: "";
		position: absolute;
		bottom: -24px;
		left: 22px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 24px 24px 0;
		border-color: transparent #f8f8f8 transparent transparent;
	}
	.reviews-block span{
		font-style: normal;
	}
	.reviews-block .client{
		font-size: 16px;
		font-weight: 600;
		display: inline-block;
		margin: 7px 0 0 61px;
	}
	.before-footer{
		background: #76c7c0;
		position: relative;
		border-bottom: 1px solid #6ab3ac;
	}
	.before-footer .ruler{
		position: absolute;
		background: url(../img/ruler__bottom--gray.png) 0px 0px repeat-x;
		top: 0;
		width: 100%;
		height: 9px;
	}

	.communic-blocks{
		width: 32%;
		margin: 38px 12px 0 0;
		display: inline-block;
		vertical-align: top;
	}
	.communic-blocks p{
		color: #fff;
	}
	.communic-blocks:last-child{
		margin-right: 0;
	}
	.communic-blocks h4{
	/*color: rgba(0,0,0.5); в фотошопе цвет задан таким образом,
	но так как, так нельзя, пришлось взять цвет просто пипеткой*/
	color: #4b7e79;
	margin: 0;
}
.bl-1 h4{
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 0 0 4px;
}
.bl-1 .another{
	font-size: 25px;
	text-transform: none;
	font-weight: normal;
	margin: 0 0 0 3px;
}
.bl-1 p{
	margin: 19px 0 0 6px;
	line-height: 23px;
	word-spacing: -1px;
}
.link-bl{
	display: inline-block;
	margin: 25px 0 0 6px;
}
.link-bl p{
	margin: 0 0 7px 0;		
}
.link-info{
	display: inline-block;
	font-style: italic; 
	font-size: 20px;
	margin: 0 0 0 8px;
}
.link-info a{
	color: #fff;
	text-decoration: none;
}
.link-info a:hover{
	color: #ddd;
}
.bl-2{
	padding: 8px 0 0 113px;	
}
.bl-2 h4{
	font-size: 20px;
	font-weight: 600;
}
.bl-2 ul{
	padding: 0;
	margin: 27px 0 0 0;
	list-style: none;
}
.bl-2 ul li:before{
	content: "\69";
	margin: 0 12px 0 0;
	display: inline-block;
}
.bl-2 ul li{
	margin: 7px 0 0 0;
	color: #fff;
}
.bl-3{
	padding: 8px 0 0 21px;
	vertical-align: top;
}
.bl-3 h4{
	font-style: italic;
	font-size: 20px;
	margin: 0 0 23px 0;
}
.bl-3 .another{
	font-style: normal;
	text-transform: uppercase;
}

.bl-3__mini-bl{
	margin: 20px 0;
	vertical-align: top;
}
.bl-3__mini-bl img{
	border-radius: 5px;
	float: left;
}
.mini-bl__text-bl{
	display: inline-block;
	width: 260px;
	margin: 0 0 0 3px;
	word-spacing: -1px;
	line-height: 17px;
}
.mini-bl__text-bl p{
	margin: 0 0 0 14px;
	
}
.mini-bl__text-bl .date{
	color: #4b7e79;
	margin-top: 5px;
}

.footer{
	background: #dadada;
	height: 47px;
	margin: -13px 0 0 0;
}
.footer p{
	padding: 8px 0 0 5px;
}